:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2e2f42;
    --navcolor: black;
    --oceancolor: #404bbf;
    --whitecolor: #ffffff;
    --slatecolor: #434455;
    --cornflowercolor: #e7e9fc;
    --cloudcolor: #f4f4fd;
    --greencolor: #31d0aa;
    --lightslatecolor: #8e8f99;
    --navybluemodalcolor: #2e2f42;
    --greycolor: #2e2f42;
    --dairycolor: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/*Header*/

.main-header-web {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.167em;
    letter-spacing: 0.54px
}

.main-header-span-web {
    color: var(--iriscolor);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-span-studio {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-nav-link {
    color: var(--navyblue);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.main-header-address-link {
    text-decoration: none;
    font-style: normal;
    color: var(--slatecolor);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.main-header-web:hover .main-header-span-web {
    color: var(--oceancolor);
}

.main-header-web:hover .main-header-span-studio {
    color: var(--oceancolor);
}

.main-header-web:focus .main-header-span-web {
    color: var(--oceancolor);
}

.main-header-web:focus .main-header-span-studio {
    color: var(--oceancolor);
}

.main-header-nav-link.active { 
    color: var(--oceancolor);
}

.main-header-nav-link:hover, .main-header-nav-link:focus  {
    color: var(--oceancolor);
}

.main-header-address a:hover, .main-header-address a:focus {
    color: var(--oceancolor);
}

/*Header-End*/

/*Footer*/
.main-footer {
    background-color: var(--navyblue);
}

.main-footer-web {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.167em;
    letter-spacing: 0.54px;
}

.main-footer-span-web {
    color: var(--iriscolor);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-footer-span-studio {
    color: var(--cloudcolor);
    font-family: raleway;
    font-size: 18px;                    
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-footer-paragraph {
    color: var(--cloudcolor);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.main-footer-web:hover .main-footer-span-web {
    color: var(--oceancolor);
}

.main-footer-web:hover .main-footer-span-studio {
    color: var(--oceancolor);
}

.main-footer-web:focus .main-footer-span-web {
    color: var(--oceancolor);
}   

.main-footer-web:focus .main-footer-span-studio {
    color: var(--oceancolor);
}
/*Footer-end*/

/*Porfolio-Body*/
.options-item-button {
    font-family: roboto;
    color: var(--iriscolor);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflowercolor);
    background: var(--cloudcolor);
    padding: 12px 24px;
    font-family: inherit;
    outline: none;
}

.options-item-button:hover, .options-item-button:focus {
    color: var(--whitecolor);
    cursor: pointer;
    border-radius: 4px;
    background: var(--oceancolor);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 24px;
    border-color: var(--oceancolor);
}

.projects-item-title {
    font-size: 20px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}
.projects-item-description {
    color: var(--slatecolor);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
/*Porfolio-Body-End*/

/*Studio-Body*/
.studio-main-section {
    width: 1440px;
    height: 300px;
    background-color: var(--navyblue);
    text-align: center;
}

.studio-main-section-title {
    color: var(--whitecolor);
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.studio-button {
    color: var(--whitecolor);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--iriscolor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    outline: none;
    border: unset;
    padding: 16px 32px;
}

.studio-button:hover, .studio-button:focus {
    background-color: var(--oceancolor);
}

.features-item-heading {
    font-size: 20px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.features-item-description {
    color: var(--slatecolor);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.services-heading {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-heading {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-item-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.team-item-role {
    color: var(--slatecolor);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
} 

/*Studio-Body-End*/
