* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2e2f42;
    --navcolor: black;
    --oceancolor: #404bbf;
    --whitecolor: #ffffff;
    --slatecolor: #434455;
    --cornflowercolor: #e7e9fc;
    --cloudcolor: #f4f4fd;
    --greencolor: #31d0aa;
    --lightslatecolor: #8e8f99;
    --navybluemodalcolor: #2e2f42;
    --greycolor: #2e2f42;
    --dairycolor: #fcfcfc;
}

/*Header*/

.main-header-span-web {
    color: var(--iriscolor);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-span-studio {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-web {
    text-decoration: none;
}

.main-header-nav-menu {
    color: var(--navyblue);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.main-header-address-menu {
    text-decoration: none;
    font-style: normal;
    color: var(--slatecolor);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.main-header-web:hover .main-header-span-web {
    color: var(--oceancolor);
}

.main-header-web:hover .main-header-span-studio {
    color: var(--oceancolor);
}

.main-header-web:focus .main-header-span-web {
    color: var(--oceancolor);
}

.main-header-web:focus .main-header-span-studio {
    color: var(--oceancolor);
}

.main-header-nav a:hover { 
    color: var(--oceancolor);
}

.main-header-nav a:focus {
    color: var(--oceancolor);
}


.main-header-address a:hover {
    color: var(--oceancolor);
}

.main-header-address a:focus {
    color: var(--oceancolor);
}
/*Header-End*/

/*Footer*/
.main-footer {
    background-color: var(--navyblue);
}

.main-footer-web {
    text-decoration: none;
}

.main-footer-span-web {
    color: var(--iriscolor);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-footer-span-studio {
    color: var(--cloudcolor);
    font-family: raleway;
    font-size: 18px;                    
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-footer-paragraph {
    color: var(--cloudcolor);
    width: 264px;
}

.main-footer-web:hover .main-footer-span-web {
    color: var(--oceancolor);
}

.main-footer-web:hover .main-footer-span-studio {
    color: var(--oceancolor);
}

.main-footer-web:focus .main-footer-span-web {
    color: var(--oceancolor);
}   

.main-footer-web:focus .main-footer-span-studio {
    color: var(--oceancolor);
}
/*Footer-end*/

/*Porfolio-Body*/
.button {
    font-family: roboto;
    color: var(--iriscolor);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflowercolor);
    background: var(--cloudcolor);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button:hover {
    color: var(--whitecolor);
    cursor: pointer;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button:focus {
    color: var(--whitecolor);
    cursor: pointer;
    border-radius: 4px;
    background: var(--oceancolor);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.row-one-services {
    font-size: 20px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.row-two-services {
    font-size: 20px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.row-three-services {
    font-size: 20px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}
/*Porfolio-Body-End*/

/*Studio-Body*/
.studio-main-section {
    width: 1440px;
    height: 300px;
    background-color: var(--navyblue);
    text-align: center;
}

.studio-main-section-title {
    color: var(--whitecolor);
    font-size: 56px;
}


.studio-button {
    color: var(--whitecolor);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--iriscolor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features-list {
    font-size: 20px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.features-list-description {
    color: var(--slatecolor);
    font-weight: 400;
    line-height: 1.5em;
}

.services-heading {
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-heading {
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-heading-members-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.team-heading-members-name-role {
    color: var(--slatecolor);
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
} 



/*Studio-Body-End*/